.main {
    text-transform: uppercase;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

input {
    border: none;
    font-size: 30px !important;
}

.submission-button {
    font-size: 30px;
    margin-top: 20px;
}

.counter {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-size: 40px;
}