.main {
    text-transform: uppercase;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    max-width: 100%
}

input {
    border: none;
    text-align: center;
    width: 150px;
    font-size: 30px !important;
    text-align: center !important;

    &:hover {
        outline: none !important;
        border-width: 0px !important;
        border: none !important;
    }

    &:focus {
        outline: none !important;
        border-width: 0px !important;
        border: none !important;
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}

.submission-button {
    font-size: 30px;
    margin-top: 20px;
}

.counter {
    text-transform: uppercase;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    font-size: 70px;
}

@media (max-width: 767px) {
    .input-field {
        display: flex;
        flex-direction: columns;
    }
}