input {
    border: none;
    background-color: transparent !important;
    text-align: center;
    width: 150px;
    font-size: 50px !important;
    color: inherit !important;
    text-align: center !important;

    &:hover {
        outline: none !important;
        border-width: 0px !important;
        border-bottom: none !important;
    }

    &:focus {
        outline: none !important;
        border-width: 0px !important;
        border: none !important;
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.main {
    text-transform: uppercase;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    max-width: 100%;
    transition: background-color 0.5s;
}

.submission-button {
    margin-top: 20px;
}

.submission-button button {
    width: 95px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.counter {
    text-transform: uppercase;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    font-size: 70px;
    transition: background-color 0.5s;
}

@media (max-width: 767px) {
    .input-field {
        display: flex;
        flex-direction: columns;
    }
}